.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.5 em;
    margin: 0;
    background: #093E5C;
    font-family: Arial;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5 em;
        padding: 0;
    }
}
li {
    padding: 20px;
    border-right: 1px solid #bbb;
}

a   {
    color: white;
    text-decoration: none;
}
li a:hover {
    background-color: #111;

body    {
    margin: auto 0;
    background: #658BA1
}

.push {
    margin-left: auto;
}
ul {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }